@use '../abstracts/variables';
@use '../abstracts/mixins';

.dashboard {
    &__head {
        margin-bottom: 2rem;
        color: variables.$white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
    }

    .btn {
        padding: 10px;
        font-size: 0.85rem;
    }

    .account-item {
        width: 80%;
        margin-bottom: 2rem;
    }
}