@use '../abstracts/variables';
@use '../abstracts/mixins';

/*******************/
/* HOMEPAGE STYLE */
/******************/

.home {
    .hero-banner {
        height: 300px;

        @include mixins.medium-break {
            height: 400px;
        }
    }

    &__features {
        display: flex;
        flex-direction: column;

        @include mixins.medium-break {
            flex-direction: row;
        }
    }
}