@use '../abstracts/variables';
@use '../abstracts/mixins';

/***************************/
/* ACCOUNT CARD COMPONENT */
/**************************/

.account-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid variables.$black;
    background-color: variables.$white;
    margin: 0 auto;
    padding: 1.5rem;

    @include mixins.small-break {
        flex-direction: row;
    }

    &__content {
        width: 100%;
        flex: 1;
    }

    &__title {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: normal;
    }

    &__amount {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;
    }

    &__desc {
        margin: 0;
    }

    &__cta {
        .btn {
            width: 100%;
            font-size: 1.1rem !important;
            margin-top: 1rem;

            @include mixins.small-break {
                width: 200px;
            }
        }

        @include mixins.small-break {
            flex: 0;
        }
    }
}