@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
    display: block;
    padding: 8px;
    font-weight: bold;
    border-color: variables.$primary-color;
    background-color: variables.$primary-color;
    color: variables.$white;
}