@use '../abstracts/variables';
@use '../abstracts/mixins';

/**************************/
/* FEATURE CARD COMPONENT */
/**************************/

.feature-item {
    flex: 1;
    padding: 2.5rem;
    text-align: center;

    &__icon {
        width: 152px;
        border: 10px solid variables.$primary-color;
        border-radius: 50%;
        padding: 1rem;
    }

    &__title {
        color: variables.$title;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}