@use '../abstracts/variables';
@use '../abstracts/mixins';

/**************************/
/* SIGN IN FORM COMPONENT */
/**************************/

.si-form {
    background-color: variables.$white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;

    &__icon {
        font-size: 5rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__label {
        text-align: left;
        font-weight: bold;
    }

    &__input {
        padding: 5px;
        font-size: 1.2rem;
    }

    &__remember {
        display: flex;
    }

    &__remember-label {
        margin-left: 0.50rem;
    }

    .btn {
        width: 100%;
        margin-top: 1rem;
        font-size: 1.1rem;
    }
}